<section class="about_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>About <span>Us</span></h2>

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img6.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Tomas Gutierrez"
							>
								Tomas Gutierrez
							</h2>
							<p class="card-text">
								Some representative placeholder content for the
								three columns of text below the carousel. This
								is the first column.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img5.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Alexander Ruidias"
							>
								Alexander Ruidias
							</h2>
							<p class="card-text">
								Another exciting bit of representative
								placeholder content. This time, we've moved on
								to the second column.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img4.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Camilo Perez"
							>
								Camilo Perez
							</h2>
							<p class="card-text">
								And lastly this, the third column of
								representative placeholder content.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img1.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Wilman Jimenez"
							>
								Wilman Jimenez
							</h2>
							<p class="card-text">
								Some representative placeholder content for the
								three columns of text below the carousel. This
								is the first column.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img2.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Keiner Alvarado"
							>
								Keiner Alvarado
							</h2>
							<p class="card-text">
								Another exciting bit of representative
								placeholder content. This time, we've moved on
								to the second column.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img3.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Sebastian Hernandez"
							>
								Sebastian Hernandez
							</h2>
							<p class="card-text">
								And lastly this, the third column of
								representative placeholder content.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
