<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../assets/img/loguito.png" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
        <li><a href="#" class="nav-link px-2 text-white">Inicio</a></li>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
          aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Proyecto reservas
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="/requeriments">Requerimientos</a></li>
                <li><a class="dropdown-item" href="#">Equipo Scrum</a></li>
                <li><a routerLink="/swebok" class="dropdown-item">SWEBOK</a></li>
              </ul>
            </li>
          </ul>
          <li><a href="/lifecycle" class="nav-link px-2 text-white">Ciclos de vida</a></li>
          <li><a routerLink="/about" class="nav-link px-2 text-white">Acerca de</a></li>
        </div>
    </div>
    </nav>
    </li>

    </ul>

      
      <div class="text-end">
        <a href="/login" class="btn btn-outline-light me-2">Iniciar sesión</a>
        <a href="/signup" class="btn btn-warning">Registrarse</a>
      </div>
    </div>
  </div>
</header>
