<app-header></app-header>
<div class="container py-5">
	<h1 class="mb-4">
		Proyecto de Ingeniería de Software: Sistema de Reserva de Salas
	</h1>

	<div class="row mb-5">
		<div class="col">
			<h2>Backlog del Producto</h2>
			<p>
				<strong>Visión General del Proyecto:</strong> Actualmente, el
				proceso de reserva de salas en el edificio de docentes es
				manual, utilizando papel y lápiz. Para optimizar este proceso,
				proponemos desarrollar un sistema de reservas que permita
				reservar salas de manera más rápida y desde cualquier ubicación.
				Es fundamental definir claramente los requisitos y
				funcionalidades para el sistema.
			</p>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col">
			<h2>Requisitos del Proyecto:</h2>
			<ol>
				<li>
					<h3>Desarrollo de la Base de Datos</h3>
					<ul>
						<li>
							Crear una tabla para almacenar usuarios que van a
							poder reservar salas.
						</li>
						<li>
							Tener tablas para poder almacenar salas que van a
							poder reservar los usuarios, y permitir tener un
							estado para saber el estado de disponibilidad de una
							sala.
						</li>
						<li>
							Cada sala puede tener varias imagenes.
						</li>
						<li>
							Desarrollar una tabla para gestionar los roles de
							los usuarios al registrarse.
						</li>
						<li>
							Establecer una tabla para la información de las
							salas disponibles, incluyendo tamaño, número de
							sillas y ubicación.
						</li>
						<li>
							Crear una tabla para las reservaciones para tener un
							registro de las mismas.
						</li>
						<li>
							Implementar soporte para varios formatos de número
							de cédula.
						</li>
					</ul>
				</li>
				<li>
					<h3>Desarrollo de la Página Web</h3>
					<ul>
						<li>
							En la pagina debe haber una seccion de registro para
							que un usuario pueda crear una cuenta para poder
							interactuar con la pagina.
						</li>
						<li>
							La pagina debe tener un apartado para que el usuario
							inicie sesion con sus credenciales.
						</li>
						<li>
							Debe haber una seccion para que el usuario pueda
							reservar una sala.
						</li>
						<li>
							En la pagina un usuario puede reservar una sala por
							su cuenta (para si mismo) o algun administrador
							puede hacer la reserva (para cualquier usuario).
						</li>
						<li>
							Debe haber una seccion para ver las salas
							disponibles.
						</li>
						<li>
							La pagina debe tener un apartado donde se vea la
							información acerda de los desarrolladores.
						</li>
						<li>
							En la pagina se debe poder ver 5 estilos de vida en
							software.
						</li>
						<li>
							La página deberá contar con una sección donde sea
							posible visualizar cada área de conocimiento en el
							SWEBOK.
						</li>
						<li>
							Desde la pagina se debe poder ver como esta
							conformado el equipo Scrum.
						</li>
						<li>
							Diseñar una interfaz web intuitiva para docentes de
							diferentes edades y personal del edificio.
						</li>
						<li>
							Asegurar una interacción fluida entre el usuario y
							el sistema de reservas.
						</li>
             <li>
							Desarrollar un menú de registro para usuarios nuevos,
               donde se registre con información basica la cual se almacenara en la base de datos.
						</li>
             <li>
							Desarrollar un apartado de inicio de seción para verificar las credenciales de cada usuario.
						</li>
            
					</ul>
				</li>
				<li>
					<h3>Optimización del Proceso de Reserva</h3>
					<ul>
						<li>
							Facilitar la reserva rápida desde cualquier
							ubicación.
						</li>
						<li>
							Garantizar eficiencia en el proceso de reserva de
							salas.
						</li>
						<li>
							Implementar notificaciones para confirmación de
							reservas.
						</li>
					</ul>
				</li>
				<li>
					<h3>Seguridad y Privacidad</h3>
					<ul>
						<li>
							Integrar medidas de seguridad para proteger la
							información de los usuarios.
						</li>
						<li>
							Implementar autenticación segura para acceder al
							sistema.
						</li>
					</ul>
				</li>
				<li>
					<h3>Pruebas y Validación</h3>
					<ul>
						<li>
							Diseñar casos de prueba exhaustivos para cada
							funcionalidad.
						</li>
						<li>
							Realizar pruebas de usabilidad con usuarios
							representativos.
						</li>
						<li>
							Validar la funcionalidad del sistema en diferentes
							escenarios.
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</div>

<app-footer></app-footer>
