<app-header></app-header>
<div class="container py-5">
	<h1 class="mb-4">
		Proyecto de Ingeniería de Software: Sistema de Reserva de Salas
	</h1>

	<div class="row mb-5">
		<div class="col">
			<h2>Backlog del Producto</h2>
			<p>
				<strong>Visión General del Proyecto:</strong> Actualmente, el
				proceso de reserva de salas en el edificio de docentes es
				manual, utilizando papel y lápiz. Para optimizar este proceso,
				proponemos desarrollar un sistema de reservas que permita
				reservar salas de manera más rápida y desde cualquier ubicación.
				Es fundamental definir claramente los requisitos y
				funcionalidades para el sistema.
			</p>
		</div>
	</div>

	<div class="row mb-5">
		<div class="col">
			<h2>Requisitos del Proyecto:</h2>
			<ol>
				<li>
					<h3>Desarrollo de la Base de Datos</h3>
					<ul>
						<li>
							Crear una tabla para registros de usuarios con
							campos: nombre, apellido, número de cédula y fecha
							de nacimiento.
						</li>
						<li>
							Implementar soporte para varios formatos de número
							de cédula.
						</li>
						<li>
							Desarrollar una tabla para gestionar los roles de
							los usuarios al registrarse.
						</li>
						<li>
							Establecer una tabla para la información de las
							salas disponibles, incluyendo tamaño, número de
							sillas y ubicación.
						</li>
						<li>
							Crear una tabla para las reservaciones con claves
							foráneas para el ID de usuario, ID de sala, fecha y
							hora de inicio y fin de la reserva.
						</li>
					</ul>
				</li>
				<li>
					<h3>Desarrollo de la Página Web</h3>
					<ul>
						<li>
							Utilizar Node.js como entorno principal de
							ejecución.
						</li>
						<li>
							Implementar el framework Angular para el desarrollo
							del frontend.
						</li>
						<li>
							Utilizar TypeScript, CSS y HTML en el desarrollo.
						</li>
						<li>
							Diseñar una interfaz web intuitiva para docentes de
							diferentes edades y personal del edificio.
						</li>
						<li>
							Dividir el proyecto en frontend y backend para una
							gestión eficiente.
						</li>
						<li>
							Asegurar una interacción fluida entre el usuario y
							el sistema de reservas.
						</li>
					</ul>
				</li>
				<li>
					<h3>Optimización del Proceso de Reserva</h3>
					<ul>
						<li>
							Facilitar la reserva rápida desde cualquier
							ubicación.
						</li>
						<li>
							Garantizar eficiencia en el proceso de reserva de
							salas.
						</li>
						<li>
							Implementar notificaciones para confirmación de
							reservas.
						</li>
					</ul>
				</li>
				<li>
					<h3>Seguridad y Privacidad</h3>
					<ul>
						<li>
							Integrar medidas de seguridad para proteger la
							información de los usuarios.
						</li>
						<li>
							Implementar autenticación segura para acceder al
							sistema.
						</li>
					</ul>
				</li>
				<li>
					<h3>Pruebas y Validación</h3>
					<ul>
						<li>
							Diseñar casos de prueba exhaustivos para cada
							funcionalidad.
						</li>
						<li>
							Realizar pruebas de usabilidad con usuarios
							representativos.
						</li>
						<li>
							Validar la funcionalidad del sistema en diferentes
							escenarios.
						</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>
</div>

<app-footer></app-footer>